= f.input :name

- if f.object.persisted?
  = f.input :parent do
    = f.autocomplete_field :parent_to_s,
        autocomplete_task_name_tasks_path,
        id_element: '#task_parent_id',
        class: 'string optional form-control'

    = f.input :parent_id, as: :hidden

= f.input :reference, as: :string
= f.input :goal
= f.input :weight
= f.button :submit
= link_to 'Cancel', cancel_path
