%table.table
  %tr
    %th Name
    %td.value
      %strong
        = task.name

  %tr.reference
    %th Reference
    %td.value= task.reference

  %tr.goal
    %th Goal
    %td.value= task.goal

  %tr.weight
    %th Weight
    %td.value= task.weight

  %tr.adjusted-weight
    %th Adjusted Weight
    %td.value= task.adjusted_weight.round(2)

  %tr.status
    %th Status
    %td.value= task.status.name

  %tr.last-done-on
    %th Last done on
    %td.value= task.last_done_on

  %tr.done-count
    %th Done count
    %td.value= task.done_count

  %tr.actions
    %th Actions
    %td
      = render 'tasks/show_actions', task: task
