%article.task{ data: { id: @task.id }}
  %nav
    = render 'layouts/breadcrumb', task: @task

  %h1
    = @task.name

  %table.table
    %tr.reference
      %th Reference
      %td.value
        = render 'layouts/breadcrumb', task: @task.reference if @task.reference

    %tr.goal
      %th Goal
      %td.value= @task.goal

    %tr.weight
      %th Weight
      %td.value= @task.weight

    %tr.status
      %th Status
      %td.value= @task.status.name

    %tr.last-done-on
      %th Last done on
      %td.value= @task.last_done_on

    %tr.done-count
      %th Done count
      %td.value= @task.done_count

    %tr.actions
      %th Actions
      %td
        = link_to 'Edit', edit_task_path(@task), class: 'edit-task-link'
        |
        = link_to 'Mark as done', mark_as_done_task_path(@task)

  - if @task.children.any?
    .child-tasks
      %h2 Children

      %table.table
        %tr
          %th Name
          %th Reference
          %th Goal
          %th Weight
          %th Status
          %th Last done on
          %th Done count
          %th Actions

        - @task.children.order(:name).each do |child_task|
          %tr.child-task{ data: { id: child_task.id }}
            %td= link_to(child_task.name, task_path(child_task), class: 'task-link')

            %td
              - reference = child_task.reference
              - if reference
                = link_to(reference.name, task_path(reference))

            %td= child_task.goal
            %td= child_task.weight
            %td= child_task.status.name
            %td= child_task.last_done_on
            %td= child_task.done_count
            %td
              = link_to 'Edit', edit_task_path(child_task)
              |
              = link_to 'Mark as done', mark_as_done_task_path(child_task)
