%article.task{ data: { id: @task.id }}
  %nav
    = render 'layouts/breadcrumb', task: @task

  %h1.name
    = @task.name

  = render 'summary', task: @task

  - if @task.children.any?
    .child-tasks
      %h2 Children

      %table.table
        %tr
          %th Name
          %th Reference
          %th Goal
          %th Adjusted Weight
          %th Status
          %th Last done on
          %th Actions

        :ruby
          children =
            @task.children
              .order('last_done_on, adjusted_weight desc, name')

        - children.each do |child_task|
          %tr.child-task{ data: { id: child_task.id }}
            %td= link_to(child_task.name, task_path(child_task), class: 'task-link')
            %td= link_to_if_external_uri(child_task.reference)
            %td= child_task.goal
            %td
              .value
                #{child_task.adjusted_weight.round(2)}
              .small.explanation
                \=
                (#{child_task.weight}
                \/ (#{child_task.done_count}
                \+ #{child_task.done_count_offset}))

            %td= child_task.status.name
            %td= child_task.last_done_on
            %td
              = render 'show_actions', task: child_task
